@import "normalize.css";

// Font
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url("/assets/fonts/TikTokFont-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url("/assets/fonts/TikTokFont-Semibold.woff2");
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    src: url("/assets/fonts/TikTokFont-Bold.woff2");
    font-weight: 700;
}

:root {
    --font-family: "TikTokFont, Arial, Tahoma, PingFangSC", sans-serif;
    --lh: 1.5;
    --primary: #fe2c55;
    --b-cl: #000;
    --w-cl: #fff;
    --body-color: #161823;
    --container: 1180px;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    *::-webkit-scrollbar {
        border-radius: 0px;
        width: 8px;
    }
    *::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0);
    }
    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.3);
    }
}

body {
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    line-height: var(--lh);
    color: var(--body-color);
}

[tabindex],
button,
input {
    outline: none;
    border: none;
    appearance: none;
}

input {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--body-color);
}

li {
    list-style-type: none;
}

// =======================================
.wrapper {
    margin: 0 auto;
    overflow: hidden;
}
.container {
    // max-width: 100%;
    // width: var(--container);
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

main {
    margin-top: 60px;
    height: 2000px;
}

// Custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        background-color: red;
        font-size: 16px;
        line-height: 1.5;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
