.wrapper {
    border-top: 1px solid #ccc;
    padding: 15px 0;
}

.label {
    font-weight: 700;
    margin-bottom: 15px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
    flex-shrink: 0;
}
.itemInfo {
}
.username {
    margin-bottom: 0;
    line-height: 1.2;
}
.check {
    font-size: 14px;
    color: #20d5ec;
    margin-left: 8px;
}
.name {
    line-height: 1.2;
    font-size: 14px;
    color: #999;
}

.moreBtn {
    font-size: 14px;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}
