.menuList {
    width: 230px;
    .menuItem {
        margin-left: 0;
    }
}

.menuItem {
    width: 100%;
    justify-content: flex-start;
    padding: 8px 16px;
    font-weight: 600;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.menuBody {
    overflow-y: auto;
}

// Menu Label
.header {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    flex-shrink: 0;
}
.backBtn {
    min-width: 60px;
    position: absolute;
    top: 0px;
    bottom: 6px;
    left: 0;
    transition: all 0.3s ease-in;
    &:hover {
        opacity: 0.6;
    }
}
