.wrapper {
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba($color: #000, $alpha: 0.12);
}
