.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    height: 60px;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    a {
        display: flex;
        align-items: center;
    }
}

.moteBtn {
    margin-left: 14px;
    padding: 4px 10px;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}

//Active current user
.actions {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.actionsBtn {
    background-color: transparent;
    font-size: 24px;
    color: #161823;
    padding: 7px 10px 4px;
    cursor: pointer;
    line-height: 1;
}

.userAvatar {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    margin-left: 10px;
    cursor: pointer;
}
